{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<div class="w-[800px] max-w-full min-w-[500px] lg:w-2/3 mx-auto">
    <div class="bg-white mb-6 p-4 my-6 transition ">
        <!-- Event image -->
        <img src="{{ event.poster_image.url }}" alt="Event Banner" class="w-full h-64 object-cover rounded">
        <!-- Details -->
        <div class="mt-2 grid grid-cols-1 md:grid-cols-3 gap-6">
            <!-- Left: Title + Host Info -->
            <div class="md:col-span-2 ml-4 ">
                <!-- Event Title -->
                <h2 class="text-2xl font-bold text-pink-900 mb-4">{{ event.title }}</h2>
                <!-- Host Info -->
                <div class="flex items-center gap-4 ml-4">
                    {% if event.created_by.profile.profile_pic %}
                        <img src="{{ event.created_by.profile.profile_pic.url }}"  class="w-12 h-12 rounded-full object-cover">
                    {% else %}
                        <img src="https://i.pinimg.com/474x/9d/86/8e/9d868edb99fa442461138e2f9a1e0be1.jpg"
                             class="w-12 h-12 rounded-full object-cover">
                    {% endif %}
                    <div>
                      <h3 class="text-md font-semibold text-pink-700">
                          Hosted by:
                          <a href="{% url 'profile-details' event.created_by.id %}" class="hover:text-blue-700">
                          {{ event.created_by }}
                          </a>
                      </h3>
                    </div>
                </div>
                <div class="flex items-center text-pink-700 gap-2 mt-2 pl-6">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1 text-pink-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                    </svg>
                    <div>
                        <p>{{ event.start_time }}</p>
                        <p class="text-sm text-gray-500">{{ event.end_time }}</p>
                    </div>
                </div>
                <div class="flex items-center text-pink-700 gap-2 pl-6">
                    <span>📍</span>
                    <a href="#" class="text-pink-600 ">
                        {{ event.location }}
                    </a>
                </div>
                <hr class="border-t border-gray-300 my-4" />
            </div>
            <!-- Right: Event Media -->
            <div>
                <h4 class="text-lg font-semibold text-pink-700 mt-4">Attending: {{ attendees.count }}</h4>
                <div class="flex items-center gap-3 mt-2">
                    {% if attendees %}
                        <div class="flex flex-wrap gap-2 mb-4">
                            {% for attendee in attendees %}
                                <a href="{% url 'profile-details' attendee.profile.pk %}"><img src="{{ attendee.profile.profile_pic.url|default:'https://i.pinimg.com/474x/9d/86/8e/9d868edb99fa442461138e2f9a1e0be1.jpg' }}" class="w-10 h-10 rounded-full object-cover border border-pink-300"></a>
                            {% empty %}
                                <p class="text-sm text-gray-500">No attendees yet.</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="text-sm text-gray-500">No attendees yet.</p>
                    {% endif %}
                </div>
                <div class="flex flex-wrap items-center gap-3 mt-2">
                    {% for category in event.categories.all %}
                            <a href="{% url 'category-details' category.slug %}">
                                <span class="bg-pink-100 text-pink-600 text-xs  font-medium px-2 py-1 rounded-full">
                                    {{ category.title }}
                                </span>
                            </a>
                        {% endfor %}
                </div>
            </div>
        </div>
        <div class="items-center gap-5 mb-1 ml-6">
            <h3 class="text-lg font-semibold text-pink-700 ml-4">Event Details</h3>
            <p class="text-medium font-medium text-gray-600 ml-4 ">
                {{ event.details }}
            </p>
        </div>
           <div class="items-center gap-5 mb-1 ml-6">
            <h3 class="text-lg font-semibold text-pink-700 ml-4">Location</h3>
            <p class="text-medium font-medium text-gray-600 ml-4 ">
                {{ event.details }}
            </p>
        </div>
        <div class="flex items-start text-pink-500 space-x-4 text-sm mb-2 mt-4 ml-10">
            <a class="flex items-center text-4xs cursor-pointer gap-1">
                <img src="{% static 'common/heart_big.png' %}" class="w-6 h-6"> Like
            </a>
            <a class="flex items-center text-4xs cursor-pointer gap-1">
                <img src="{% static 'common/share-big.png' %}" class="w-6 h-6"> Share
            </a>
        </div>
       <hr class="border-t border-gray-300 my-4">






{% endblock %}