{% extends 'common/base.html' %}

{% load static %}

{% block content %}

<section class="flex-grow flex items-center justify-center py-16 bg-pink-50">
  <div class="bg-white shadow-xl rounded-2xl w-full max-w-md p-8">
    <div class="text-center mb-6">
      <h2 class="text-2xl font-bold text-pink-600">Join Beaunity</h2>
      <p class="text-gray-600 text-sm mt-1">Glow up with our community 🌸</p>
    </div>

    <form method="post" class="space-y-5">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.username.errors}}

      {{ form.email.label_tag }}
      {{ form.email }}
      {{ form.email.errors }}

      {{ form.password1.label_tag }}
      {{ form.password1 }}
      {{ form.password1.errors }}

      {{ form.password2.label_tag }}
      {{ form.password2 }}
      {{ form.password2.errors }}

      <button type="submit"
        class="w-full bg-pink-500 hover:bg-pink-600 text-white py-2 rounded-md font-semibold transition">
        Create Account
      </button>
    </form>

    <p class="text-sm text-center text-gray-600 mt-4">
      Already have an account?
      <a href="#" class="text-pink-600 hover:underline font-medium">Log in</a>
    </p>
  </div>
</section>

{% endblock %}