{% extends 'common/base.html' %}

{% block content %}

<div class="w-full max-w-screen-xl mx-auto px-4 py-8">

        <!-- Categories Container -->
    <div class="space-y-8 mb-4">
        <!-- Single Category -->
        <div class="rounded-lg overflow-hidden shadow-md">
            <!-- Category Header -->
             <div class="bg-pink-100 px-6 py-4 rounded-lg shadow transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg hover:shadow-pink-300">
                 <div class="flex justify-between items-start">
                     <!-- Left: Category Title and Description -->
                     <a class="block cursor-pointer" href="{% url 'category-details' category.slug %}">
                         <h2 class="text-xl font-bold text-pink-500 hover:text-pink-600 transition duration-300">{{ category.title }}</h2>
                         <p class="text-gray-700 text-sm">{{ category.description }}</p>
                     </a>
                     <!-- Right: Edit Icon -->
                     {% if perms.category.change_category %}
                     <a class="text-pink-500 hover:text-pink-700 ml-4" href="{% url 'category-edit' category.slug %}">
                         <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828
                                                  2.828L11.828 15H9v-2.828l8.586-8.586z"/>
                         </svg>
                     </a>
                     {% endif %}
                 </div>
             </div>
            <!-- Posts -->
            {% for post in posts %}
                <div class="bg-white px-6 py-2 hover:bg-gray-50 ">
                <!-- Post Row: 3 Columns -->
                    <div class="grid grid-cols-3 gap-4 items-start py-4 border-b">
                        <!-- Column 1: Post Content -->
                        <div>
                            <a href="{% url 'post-details' post.pk %}" class="text-lg text-gray-600 hover:text-pink-900">{{ post.content }}</a>
                            <div class="text-right space-y-1">
                                <a  href="{% url 'profile-details' post.created_by.id %}"><span class="text-sm text-gray-500">By: {{ post.created_by }}</span></a>
                                <p class="text-xs text-gray-500">Comments:count</p>
                                <p class="text-xs text-gray-500">Last commented at:</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}