{% load static %}
{% load interaction_tags %}

{% if user.is_authenticated %}
<form action="{% url 'favourite' model_name obj.id %}" method="post" class="inline">
    {% csrf_token %}
    <button type="submit" class="flex items-center justify-center text-2xs cursor-pointer gap-1">
        {% if obj|is_favourited_by_user:user %}
            <img src="{% static 'common/fav-fill.png' %}" >
        {% else %}
            <img src="{% static 'common/fav.png' %}" >
        {% endif %}
    </button>
</form>


{% endif %}