{% load static %}
{% load interaction_tags %}


<a href="{% url 'favourite' model_name obj.id %}" class="flex items-center text-2xs cursor-pointer gap-1">
    {% if obj|is_favourited_by_user:user %}
         {% if '/dashboard/' in request.path  %}
             <img src="{% static 'common/fav-fill.png' %}" class="w-5 h-5">
         {% else %}
              <img src="{% static 'common/fav-fill.png' %}"> Unfav

         {% endif %}
    {% else %}
         {% if '/dashboard/' in request.path  %}
             <img src="{% static 'common/fav.png' %}" class="w-5 h-5">
         {% else %}
             <img src="{% static 'common/fav.png' %}"> Fav
         {% endif %}
    {% endif %}
</a>
