{% extends 'common/base.html' %}

{% load static %}
{% block content %}
    <div class="flex justify-center items-center flex-col bg-white">
        <div id="error-animation" class="w-88 h-88"></div>
        <h1 class="text-4xl font-bold text-pink-600 ">403 Forbidden</h1>
        <p class="text-gray-500 mt-2">You don't have permission to access this page.</p>
        <a href="javascript:history.back()" class="px-5 py-4 mt-6 text-sm font-medium text-white bg-pink-500 hover:bg-pink-600 rounded-lg cursor-pointer shadow-md transition-colors">
            Go Back
        </a>
    </div>
    <script src="https://unpkg.com/lottie-web@latest/build/player/lottie.min.js"></script>
    <script>
        lottie.loadAnimation({
        container: document.getElementById('error-animation'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: "{% static 'common/403 animation.json' %}"  // path to your downloaded JSON
        });
    </script>

{% endblock %}