{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<div class="max-w-full lg:w-2/3 mx-auto mb-6">
    <h1 class="text-3xl md:text-4xl font-extrabold text-pink-500 text-center mt-8 mb-2">Create New Challenge</h1>
     <p class="text-red-500 text-center text-bold mt-1">Your challenge will be up for approval as soon as it’s created!</p>

    <div class="bg-white rounded-xl shadow-md overflow-hidden">
        <form method="POST" enctype="multipart/form-data" class="p-6 md:p-8">
            {% csrf_token %}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <!-- Left Column -->
                <div class="space-y-4">
                    <div>
                        {{ form.poster_image.label }}
                        {{ form.poster_image }}
                        <span class="text-sm italic text-gray-500">{{ form.poster_image.help_text }}</span>
                        <span class="text-sm italic text-red-500">{{ form.poster_image.errors }}</span>
                    </div>
                    <div>
                        {{ form.title.label }}
                        {{ form.title }}
                        <span class="text-sm italic text-red-500">{{ form.title.errors }}</span>
                    </div>

                    <div>
                        {{ form.details.label }}
                        <div class="w-full">
                            {{ form.details }}
                            {{ form.media }}
                        </div>

                        <div>
                            <span class="text-sm text-gray-500 italic ml-2">{{ form.details.help_text }}</span>
                        </div>
                         <span class="text-sm italic text-red-500">{{ form.details.errors }}</span>

                    </div>

                     <div>
                        {{ form.difficulty.label }}
                        {{ form.difficulty}}
                    </div>

                    <div>
                        {{ form.is_online.label }}
                        {{ form.is_online }}
                    </div>

                    <div>
                        {{ form.city.label }}
                        {{ form.city }}
                        <span class="text-sm italic text-red-500">{{ form.city.errors }}</span>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="space-y-4">
                    <div>
                        {{ form.location.label }}
                        {{ form.location }}
                        <span class="text-gray-500 italic text-sm">{{ form.location.help_text }}</span>
                        <span class="text-normal text-red-500 italic" >{{ form.location.errors }}</span>
                    </div>

                    <div>
                        {{ form.meeting_link.label }}
                        {{ form.meeting_link }}
                        <span class="text-normal text-red-500 italic" >{{ form.meeting_link.errors }}</span>
                    </div>

                    <div>
                        {{ form.start_time.label }}
                        {{ form.start_time }}
                        <span class="text-sm italic text-red-500">{{ form.start_time.errors }}</span>
                    </div>

                    <div>
                        {{ form.end_time.label }}
                        {{ form.end_time }}
                        <span class="text-sm italic text-red-500">{{ form.end_time.errors }}</span>

                    </div>
                    <div>
                        {{ form.categories.label }}
                        {{ form.categories }}
                        <small class="text-gray-500 italic text-sm">{{ form.categories.help_text }}</small>
                        <span class="text-sm italic text-red-500">{{ form.categories.errors }}</span>

                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="mt-8 text-center">
                <button type="submit" class="bg-pink-500 text-white px-6 py-2 rounded-xl font-semibold hover:bg-pink-600 transition shadow">
                    Save Changes
                </button>
            </div>
        </form>
    </div>
</div>



{% endblock %}






