{% extends 'common/base.html' %}

{% block content %}

{% if perms.challenge.can_approve_challenge %}
    <section class="flex-grow flex items-center justify-center py-16">
        <div class="bg-white rounded-2xl shadow-xl w-full max-w-3xl p-8">

            <!-- Header with title and create button -->
            <div class=" justify-between items-center mb-6 pb-4 border-b border-pink-200">
                <h2 class="text-2xl font-bold text-pink-600">Pending Challenges</h2>
                <p class="text-sm text-pink-600">These challenges are yet to be approved for publishing</p>
            </div>
            {% if object_list %}

                {% for challenge in object_list %}
                    <div class="space-y-4">
                    <div class="border border-pink-200 rounded-xl p-4 hover:shadow-md transition-shadow">
                        <div class="flex justify-between items-start">
                            <div>
                                <a href="{% url 'challenge-details' challenge.pk %}">
                                    <h3 class="text-lg font-semibold text-pink-600  cursor-pointer">{{ challenge.title }}</h3>
                                </a>
                                <!-- Timestamp information row -->
                                <div class="flex flex-wrap gap-x-3 gap-y-1 mt-1">
                                    <a href="">
                                        <span class="inline-flex items-center text-xs text-gray-500 bg-pink-50 rounded-full px-2 py-0.5">
                                            Created by: {{ challenge.created_by }}
                                        </span>
                                    </a>
                                    <span class="inline-flex items-center text-xs text-gray-500 bg-pink-50 rounded-full px-2 py-0.5">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 mr-1 text-pink-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                        Start:
                                        {{ challenge.start_time|date:"M d, Y H:i" }}
                                    </span>
                                     <span class="inline-flex items-center text-xs text-gray-500 bg-pink-50 rounded-full px-2 py-0.5">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 mr-1 text-pink-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                        Created:
                                        {{ challenge.created_at|date:"M d, Y H:i" }}
                                    </span>
                                </div>
                            </div>
                            <!-- Check Button -->
                            <div class="flex gap-2">
                                <a class="text-pink-500" href="{% url 'challenge-approve' challenge.pk %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" fill="none" viewBox="0 0 24 24" style="color: green" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M5 13l4 4L19 7" />
                                    </svg>
                                </a>
                                <a class="text-pink-500" href="{% url 'challenge-disapprove' challenge.pk %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" fill="none" viewBox="0 0 24 24" style="color: red" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <p class="text-sm text-gray-600 mt-3">{{ challenge.details|striptags|safe|truncatewords:30 }}</p>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <h2 class="text-center text-pink-600">No pending challenges</h2>
            {% endif %}
            <div class="mt-4">
            {% include 'common/paginator.html' %}
        </div>
        </div>

    </section>
{% endif %}

{% endblock %}