{% extends 'common/base.html' %}

{% block content %}

<div class="w-full max-w-screen-xl mx-auto px-2 py-8">
    <!-- Page Header -->
    <div class="w-full max-w-screen-xl mx-auto px-4">
        <!-- Page Header -->
        <div class="mb-2">
            <h1 class="text-4xl font-extrabold text-pink-500 text-center">Forum</h1>
            <p class="text-pink-500 text-center py-1">Join thoughtful conversations, share experiences, and discover personalized skincare insights.</p>
            <div class="text-center text-black mt-4">
                <a href="{% url 'post-create' %}"  class="inline-block bg-pink-500 text-white px-3 py-2 rounded-lg shadow hover:bg-pink-600 transition">
                            + Create Post
                </a>
            </div>
            <div>
                <form method="get" action="{% url 'post-search' %}" class="mt-4">
                    <input
                            type="text"
                            name="query"
                            placeholder="Search categories and posts..."
                            value=""
                            class="w-full px-3 py-2 border border-pink-300 rounded-full text-sm text-gray-700 placeholder-pink-400 focus:outline-none focus:ring-2 focus:ring-pink-300 focus:border-pink-400 transition duration-200"
                    />
                </form>
            </div>
        </div>


    {% for category, posts in category_posts %}
        <!-- Categories Container -->
    <div class="space-y-4 mb-4">
        <!-- Single Category -->
        <div class="rounded-lg overflow-hidden shadow-md">
            <!-- Category Header -->
             <div class="bg-pink-100 px-6 py-4 rounded-lg shadow transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg hover:shadow-pink-300">
                 <div class="flex justify-between items-start">
                     <!-- Left: Category Title and Description -->
                     <a class="block cursor-pointer" href="{% url 'category-details' category.slug %}">
                         <h2 class="text-xl font-bold text-pink-500 hover:text-pink-600 transition duration-300">{{ category.title }}</h2>
                         <p class="text-gray-700 text-sm">{{ category.description }}</p>
                     </a>
                     <!-- Right: Edit Icon -->
                     {% if perms.category.change_category %}
                     <a class="text-pink-500 hover:text-pink-700 ml-4" href="{% url 'category-edit' category.slug %}">
                         <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828
                                                  2.828L11.828 15H9v-2.828l8.586-8.586z"/>
                         </svg>
                     </a>
                     {% endif %}
                 </div>
             </div>
            <!-- Posts -->
            <div class="bg-white px-6 py-2 hover:bg-gray-50 ">
                <div class=" grid-cols-3 gap-4 items-start py-2 border-b border-gray-200 ">
                    {% if posts %}
                        {% for post in posts %}
                            <div>
                                <a href="{% url 'post-details' post.pk %}" class="block text-lg text-gray-500 hover:text-pink-600 mb-1">
                                    {{ post.title }}
                                </a>
                                <div class="flex justify-between text-xs mb-2 text-gray-500">
                                    <a href="{% url 'profile-details' post.created_by.id %}" class=" flexhover:text-pink-500">
                                        <span class="inline-flex items-center text-xs text-gray-500 px-2 py-0.5">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1 text-pink-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A9 9 0 0112 15a9 9 0 016.879 2.804M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                                <span>{{ category.created_by }}</span>
                                            </svg>

                                        </span>
                                    </a>
                                     <span class="inline-flex items-center text-xs text-gray-500  px-2 py-0.5">
                                         <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 mr-1 text-pink-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                   d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                         </svg>
                                          <span>{{ post.created_at|date:"F j, Y, H:i" }}</span>
                                     </span>
                                    <span class="inline-flex items-center text-xs text-gray-500 px-2 py-0.5">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 mr-1 text-pink-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                                        </svg>
                                        <span>Comemnts count:</span>
                                     </span>
                                    <span class="inline-flex items-center text-xs text-gray-500 px-2 py-0.5">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 mr-1 text-pink-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M21 12c0 4.418-4.03 8-9 8a9.77 9.77 0 01-4.55-1.055L3 21l1.707-4.293A8.963 8.963 0 013 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                                        </svg>
                                        <span>Last comment:</span>
                                    </span>

                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div>
                            <p class="text-lg text-gray-500 hover:text-pink-900">No posts yet. </p>
                        </div>
                    {% endif %}
                </div>
                <div class="flex justify-between py-2">
                    <a href="{% url 'category-details' category.slug %}" class="text-sm text-pink-500 hover:text-pink-700 underline">
                        See More Posts in {{ category.title }}
                    </a>
                    <a  href="{% url 'post-create' %}?category={{ category.slug }}"  class="text-sm text-pink-500 hover:text-pink-700 underline">
                        + Create Post in {{ category.title }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}