{% extends 'common/base.html' %}

{% block content %}

<div class="w-full max-w-screen-xl mx-auto px-2 py-8">
    <!-- Page Header -->
    <div class="w-full max-w-screen-xl mx-auto px-4">
        <!-- Page Header -->
        <div class="mb-2">
            <h1 class="text-4xl font-extrabold text-pink-500 text-center">Forum</h1>
            <p class="text-pink-500 text-center py-1">Join thoughtful conversations, share experiences, and discover personalized skincare insights.</p>
            <div class="text-center text-black mt-4">
                <a href="{% url 'post-create' %}"  class="inline-block bg-pink-500 text-white px-3 py-2 rounded-lg shadow hover:bg-pink-600 transition">
                            + Create Post
                </a>
            </div>
            <div>
                <form method="get" action="{% url 'search' %}" class="mt-4">
                    <input
                            type="text"
                            name="query"
                            placeholder="Search categories and posts..."
                            value=""
                            class="w-full px-3 py-2 border border-pink-300 rounded-full text-sm text-gray-700 placeholder-pink-400 focus:outline-none focus:ring-2 focus:ring-pink-300 focus:border-pink-400 transition duration-200"
                    />
                </form>
            </div>
        </div>


    {% for category, posts in category_posts %}
        <!-- Categories Container -->
    <div class="space-y-4 mb-4">
        <!-- Single Category -->
        <div class="rounded-lg overflow-hidden shadow-md">
            <!-- Category Header -->
             <div class="bg-pink-100 px-6 py-4 rounded-lg shadow transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg hover:shadow-pink-300">
                 <div class="flex justify-between items-start">
                     <!-- Left: Category Title and Description -->
                     <a class="block cursor-pointer" href="{% url 'category-details' category.slug %}">
                         <h2 class="text-xl font-bold text-pink-500 hover:text-pink-600 transition duration-300">{{ category.title }}</h2>
                         <p class="text-gray-700 text-sm">{{ category.description }}</p>
                     </a>
                     <!-- Right: Edit Icon -->
                     {% if perms.category.change_category %}
                     <a class="text-pink-500 hover:text-pink-700 ml-4" href="{% url 'category-edit' category.slug %}">
                         <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828
                                                  2.828L11.828 15H9v-2.828l8.586-8.586z"/>
                         </svg>
                     </a>
                     {% endif %}
                 </div>
             </div>
            <!-- Posts -->
            {% include 'post/posts.html' %}
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}